@model Mixi.Models.Image

@{
    ViewData["Title"] = "Details";
    ViewBag.Title = "Details";
    ViewBag.ShowBanner = false;
}

<h1>Chi tiết</h1>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage4)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.ImageID  }) |
    <a asp-action="ShowlistImage" class="textasp">Back to List</a>
</div>
