@model IEnumerable<Mixi.Models.Image>

@{
    ViewData["Title"] = "ShowlistImage";
    ViewBag.Title = "ShowlistImage";
    ViewBag.ShowBanner = false;
}

<h1>Hình ảnh</h1>

<p >
    <a asp-action="Create" class="textasp">Create New</a>
    <a asp-controller="Home" asp-action="ShowlistProduct" class="textasp">Back to list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImage4)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <image src="@Html.DisplayFor(modelItem => item.LinkImage)" style="width:100px">
            </td>
            <td>
                    <image src="@Html.DisplayFor(modelItem => item.LinkImage1)" style="width:100px">
            </td>
            <td>
                    <image src="@Html.DisplayFor(modelItem => item.LinkImage2)" style="width:100px">
            </td>
            <td>
                    <image src="@Html.DisplayFor(modelItem => item.LinkImage3)" style="width:100px">
            </td>
            <td>
                    <image src="@Html.DisplayFor(modelItem => item.LinkImage4)" style="width:100px">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ImageID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ImageID  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ImageID  })
            </td>
        </tr>
}
    </tbody>
</table>
