@model IEnumerable<Mixi.Models.CartDetail>

@{
    ViewData["Title"] = "ShowCartUser";
    ViewBag.Title = "ShowCartUser";
    ViewBag.ShowBanner = false;
    var totalPrice = (decimal)ViewData["totalPrice"];
}
@*@if (TempData["quantityCart"] != null)
{
    <script>
        Swal.fire({
            title: '@TempData["quantityCart"]',
            icon: 'error',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}*@
@if (TempData["QuantityError"] != null)
{
    <script>
        Swal.fire({
            title: '@TempData["QuantityError"]',
            icon: 'error',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}
@if (TempData["PaySuccess"] != null)
{
    <script>
        Swal.fire({
            title: '@TempData["PaySuccess"]',
            icon: 'success',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}
@if (TempData["PayError"] != null)
{
    <script>
        Swal.fire({
            title: '@TempData["PayError"]',
            icon: 'error',
            showConfirmButton: false,
            timer: 1500
        })
    </script>
}
<section class="h-100 h-custom">
<div class="container h-100 py-5">
<div class="row d-flex justify-content-center align-items-center h-100">
@if (totalPrice == 0)
{
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p>Chưa có sản phẩm nào trong giỏ hàng</p>
                <a class="btn btn-primary" href="/Home/Show" role="button">Quay trở lại cửa hàng</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="col">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="h5">GIỎ HÀNG</th>
                <th scope="col">Thể loại</th>
                <th scope="col">Giá bán</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Tạm tính</th>
                <th scope="col">
                    <a asp-controller="Cart" asp-action="DeleteCartAllUser">Xoá tất cả</a>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="d-flex align-items-center">
                            <img src="/Image/@item.Product.Images.LinkImage" class="img-fluid rounded-3"
                                 style="width: 120px;">
                            <div class="flex-column ms-4">
                                <p class="mb-2">
                                    <a href="chitietsp.html" style="text-decoration: none; font-size: 15px;">@Html.ActionLink(item.Product.Name + "-" + item.Product.Color.Name + "-" + item.Product.Size.Name, "Details", "Home", new { id = item.ProductID })</a>
                                </p>

                            </div>
                        </div>
                    </th>
                    <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">@item.Product.Category.Name</p>
                    </td>
                    <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">
                            @if (item.Product.SalePrice > 0)
                            {
                                <del style="color: gray">@string.Format("{0:N0}đ", item.Product.Price)</del>

                                <br/>
                                @string.Format("{0:N0}đ", item.Product.Price - item.Product.SalePrice)
                                ;
                            }
                            else
                            {
                                @string.Format("{0:N0}đ", item.Product.Price)
                                ;
                            }
                        </p>
                    </td>
                    <td class="align-middle">
                        <form method="post" asp-action="UpdateCart" asp-controller="Cart">
                            <input type="hidden" name="ProductID" value="@item.ProductID"/>
                            <div class="d-flex flex-row">
                                <button class="btn btn-link px-2"
                                        onclick="decreaseQuantity()" name="dec" value="dec">
                                    <i class="fas fa-minus"></i>
                                </button>

                                <input id="form1" min="0" name="quantity" value="@item.Quantity" data-product-id="@item.ProductID" type="number"
                                       class="form-control form-control-sm" style="width: 60px; height: 10px" oninput="handleInput(event)"/>

                                <button class="btn btn-link px-2"
                                        onclick="increaseQuantity()" name="inc" value="inc">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </form>
                    </td>
                    <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">
                            @if (item.Product.SalePrice > 0)
                            {
                                @string.Format("{0:N0}đ", (item.Product.Price - item.Product.SalePrice) * item.Quantity)
                                ;
                            }
                            else
                            {
                                @string.Format("{0:N0}đ", item.Product.Price * item.Quantity)
                                ;
                            }
                        </p>
                    </td>
                    <td class="align-middle">
                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">
                            @Html.ActionLink("Delete", "DeleteCartUser", new { id = item.CartID })
                        </p>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
        <div class="card-body p-4">
            <form asp-action="Pay" asp-controller="Bill">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">

                        <div class="d-flex flex-row pb-3">
                            <div class="d-flex align-items-center pe-2">
                                <input class="form-check-input" type="radio" name="radioNoLabel"
                                       id="radioNoLabel1v" value="" aria-label="..." checked/>
                            </div>
                            <div class="rounded border w-100 p-3">
                                <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                    <i class="fab fa-cc-mastercard fa-2x text-dark pe-2">
                                        <img src="~/Image/credit-card (1).png" width="30px" alt="">
                                    </i>Thẻ Tín dụng/Ghi nợ
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row pb-3">
                            <div class="d-flex align-items-center pe-2">
                                <input class="form-check-input" type="radio" name="radioNoLabel"
                                       id="radioNoLabel2v" value="" aria-label="..."/>
                            </div>
                            <div class="rounded border w-100 p-3">
                                <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                    <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2">
                                        <img src="~/Image/momo.png" width="30px" alt="">
                                    </i>Momo
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-row">
                            <div class="d-flex align-items-center pe-2">
                                <input class="form-check-input" type="radio" name="radioNoLabel"
                                       id="radioNoLabel3v" value="" aria-label="..."/>
                            </div>
                            <div class="rounded border w-100 p-3">
                                <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                    <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2">
                                        <img src="~/Image/cash-on-delivery.png" width="30px" alt="">
                                    </i>COD
                                </p>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-6">

                        <div class="row">
                            <div class="col-12 col-xl-6">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" name="name" class="form-control form-control-lg"
                                           siez="17" placeholder="Họ và Tên" required/>
                                </div>

                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="number" name="phone" class="form-control form-control-lg"
                                           placeholder="SĐT" size="7" minlength="10" maxlength="10" required/>
                                </div>
                            </div>
                            <div class="col-12 col-xl-6">
                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="email" id="typeText" class="form-control form-control-lg"
                                           siez="17" placeholder="Email"/>
                                </div>

                                <div class="form-outline mb-4 mb-xl-5">
                                    <input type="text" name="address"
                                           class="form-control form-control-lg"
                                           placeholder="Địa Chỉ" size="17" required/>
                                </div>
                            </div>
                            <div class="col-12 col-xl-12">
                                <div class="form-outline mb-8 mb-xl-10">
                                    <input type="text" name="description" class="form-control form-control-lg"
                                           siez="17" placeholder="Ghi chú" style="height: 60px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-2" style="font-size: 15px;">Tạm tính</p>
                            <p class="mb-2" style="font-size: 15px;">@string.Format("{0:N0}đ", totalPrice)</p>
                        </div>

                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-0" style="font-size: 15px;">Shipping</p>
                            <p class="mb-0" style="font-size: 15px;">0 đ</p>
                        </div>

                        <hr class="my-4">

                        <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                            <p class="mb-2" style="font-size: 15px;">Tổng</p>
                            <p class="mb-2" style="font-size: 15px;">@string.Format("{0:N0}đ", totalPrice)</p>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">
                            <div class="d-flex justify-content-between">
                                <span>
                                    Thanh toán:
                                </span>
                                <span>@string.Format("{0:N0}đ", totalPrice)</span>
                            </div>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    </div>
}

</div>
</div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function handleInput(event) {
            const input = event.target;
            const value = input.value;
            const productId = input.dataset.productId;
            $.ajax({
                url: '/Cart/UpdateCartUser',
                type: 'POST',
                data: { idsp: productId, sl: value },
                success: function(result) {
                    window.location.href = '@Url.Action("ShowCartUser", "Cart")';
                }
            })
        }
    </script>
}