@model IEnumerable<Mixi.Models.Product>

@{
    ViewData["Title"] = "ShowlistProduct";
    ViewBag.Title = "ShowlistProduct";
    ViewBag.ShowBanner = false;
}

<h1>Sản phẩm</h1>

<p>
    <a asp-action="Create" class="textasp" style="margin-right:10px">Create New</a>
    <a asp-area="" asp-controller="Color" asp-action="ShowlistColor" class="textasp" style="margin-right:10px">Color</a>
    <a asp-area="" asp-controller="Size" asp-action="ShowlistSize" class="textasp" style="margin-right:10px">Size</a>
    <a asp-area="" asp-controller="Category" asp-action="ShowlistCategory" class="textasp" style="margin-right:10px">Category</a>
    <a asp-area="" asp-controller="Image" asp-action="ShowlistImage" class="textasp" style="margin-right:10px">Image</a>
    <a asp-area="" asp-controller="Role" asp-action="ShowlistRole" class="textasp" style="margin-right:10px">Role</a>
    <a asp-area="" asp-controller="Bill" asp-action="BillManager" class="textasp" style="margin-right:10px">Quản lí hoá đơn</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductCode)*@
                Mã sản phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                Tên sản phẩm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Images)*@
                Ảnh
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Color)*@
                Màu sắc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Size)*@
                Size
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Category)*@
                Thể loại
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@
                Giá
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.SalePrice)*@
                Giá giảm
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AvailableQuantity)*@
                Số lượng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Status)*@
                Trạng thái
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Supplier)*@
                Nhà cung cấp
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <image src="@Html.DisplayFor(modelItem => item.Images.LinkImage)" style="width:50px">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @string.Format("{0:N0}đ", item.Price)
                </td>
                <td>
                    @string.Format("{0:N0}đ",item.SalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.ProductID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ProductID  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ProductID  })
                </td>
            </tr>
        }
    </tbody>
</table>
