@model Product //strong type
<h4>ID: @Model.ProductID</h4>
<h4>Tên: @Model.Name</h4>
<h4>Mã: @Model.ProductCode</h4>
<h4>Giá: @Model.Price</h4>
<h4>Giá giảm: @Model.SalePrice</h4>
<h4>Nhà sản xuất: @Model.Supplier</h4>
<h4>Số lượng tồn: @Model.AvailableQuantity</h4>
<h4>Trạng thái: @Model.Status</h4>
<h4>Mô tả: @Model.Description</h4>