@model IEnumerable<Mixi.Models.Color>

@{
    ViewData["Title"] = "ShowlistColor";
    ViewBag.Title = "ShowlistColor";
    ViewBag.ShowBanner = false;
}

<h1>ShowlistColor</h1>

<p>
    <a asp-action="Create" class="textasp">Create New</a>
    <a asp-controller="Home" asp-action="ShowlistProduct" class="textasp">Back to list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ColorID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ColorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.ColorID  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ColorID  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ColorID  })
            </td>
        </tr>
}
    </tbody>
</table>
